{% extends "layout/layout.html" %}
{% block title %}Detalhes da Frequência{% endblock %}
{% block breadcrumbs %}Detalhes da Frequência{% endblock %}
{% block body %}
<div class="card">
  <div class="card-header">
    <b>Detalhes da Frequência - Realizada em:
      {% for key in frequencia: %}{{ frequencia[key]['dataHora'] }}{% endfor %}
    </b>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">CPF</th>
            <th scope="col">Sócio</th>
            <th scope="col" class="text-center" width="80">Presente</th>
            <th scope="col" class="text-center" width="80">Ausente</th>
          </tr>
        </thead>
        <tbody>
          {% for key in listas: %}
          <tr>
            <th scope="row">{{ listas[key]['cpf'] }}</th>
            <td>{{ listas[key]['socio'] }}</td>
            {% if listas[key]['status'] == "Presente": %}
              <td>
                <div align="center">
                  <label>
                    <input type="radio" class="option-input radio" name="{{ listas[key]['idSocio'] }}" value="Presente" checked/>
                  </label>
                </div>
              </td>
              <td></td>
            {% else: %}
              <td></td>
              <td>
                <div align="center">
                  <label>
                    <input type="radio" class="option-input radio" name="{{ listas[key]['idSocio'] }}" value="Ausente" checked/>
                  </label>
                </div>
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table><hr>
    </div>
    <div class="text-right">
      <a href="{{ url_for('listarFrequencia') }}"><input class="btn btn-dark" type="button" value="Voltar"></a><br>
    </div>
  </div>
</div>
{% endblock %}
